$DesaturatedRed: hsl(0, 36%, 70%);
$SoftRed: hsl(0, 93%, 68%);
$DarkGrayishRed: hsl(0, 6%, 24%);
$Gradient1: Linear, 135deg, from hsl(0, 0%, 100%), to #fff5f5;
$Gradient2: Linear, 135deg, from #f8bfbf, to #ee8c8c;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  position: relative;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 245, 245, 1) 100%
  );
}
body,
html {
  height: 100%;
}
.container {
  padding: 0 10.3125rem;
  height: 100%;
}
header {
  position: absolute;
  margin-top: 4.0625rem;
  z-index: 5;
}
main {
  display: grid;
  grid-template-columns: 1fr 42.36%;
  height: 100%;
}
.left__side {
  height: 100%;
  background-image: url(./images/bg-pattern-desktop.svg);
  position: relative;
  background-size: cover;
}
.content {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  height: 100%;
  padding-top: 4.0625rem;
}
.content__title {
  font-size: 4em;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 1.0625rem;
  line-height: 4.375rem;
  margin-bottom: 1.25rem;
  color: $DarkGrayishRed;
}
.content__title--pink {
  font-weight: 200;
  color: $DesaturatedRed;
}
.content__txt {
  font-size: 1.005em;
  line-height: 1.75rem;
  margin-bottom: 2.5rem;
  color: $DesaturatedRed;
}
.form {
  width: 27.8125rem;
  position: relative;
}
.form__wrapper {
  width: 100%;
  height: 3.4375rem;
  position: relative;
}

.form__input {
  height: 100%;
  width: 24.375rem;
  border: 0;
  outline: 0;
  padding: 0 3.125rem 0 1.9375rem;
  border-radius: 1.875rem;
  border: 0.0625rem solid $DesaturatedRed;
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  color: $DarkGrayishRed;
  font-weight: 700;
  font-size: 1em;
}
.form__btn {
  height: 100%;
  width: 6.125rem;
  position: absolute;
  right: 0;
  border: 0;
  border-radius: 1.875rem;
  background: rgb(248, 191, 191);
  background: linear-gradient(
    135deg,
    rgba(248, 191, 191, 1) 0%,
    rgba(238, 140, 140, 1) 100%
  );
  transition: ease 0.3s;
  cursor: pointer;
  &:hover {
    transition: ease 0.3s;
    box-shadow: rgba(50, 50, 93, 0.25) 0rem 1.875rem 3.75rem -0.75rem,
      rgba(0, 0, 0, 0.3) 0rem 1.125rem 2.25rem -1.125rem;
  }
}
.error__msg {
  position: absolute;
  bottom: -1.5625rem;
  left: 0.9375rem;
  color: $SoftRed;
  display: none;
}
.error__icon {
  position: absolute;
  right: 6.875rem;
  top: 50%;
  z-index: 5;
  transform: translateY(-50%);
  display: none;
}
.error {
  .form__wrapper {
    input {
      border: 0.125rem solid $SoftRed;
    }
  }
  .error__icon {
    display: block;
  }
  .error__msg {
    display: block;
  }
}
#toast {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 15.625rem; /* Set a default minimum width */
  margin-left: -7.8125rem; /* Divide value of min-width by 2 */
  background-color: #198754; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 0.125rem; /* Rounded borders */
  padding: 1rem; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 15%; /* Center the snackbar */
  bottom: 3.125rem; /* 1.875rem from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#toast.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 1.875rem;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 1.875rem;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 1.875rem;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 1.875rem;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
.right__side {
  width: 100%;
  background-image: url(./images/hero-desktop.jpg);
  background-size: cover;
  height: 100%;
}

@media screen and (max-width: 50rem) {
  header {
    position: initial;
    margin: 0;
    padding: 1.875rem 0;
  }
  .logo {
    transform: scale(0.7);
    position: relative;
    left: -1.3125rem;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    align-content: center;
  }
  .container {
    padding: 0 2.1875rem;
  }
  .left__side {
    height: auto;
    order: 1;
    width: 100%;
    padding-bottom: 5rem;
    .container {
      padding: 0;
    }
  }
  .content {
    align-content: flex-start;
    padding: 4.5625rem 2.1875rem 0 2.1875rem;
  }
  .content__title {
    text-align: center;
    font-size: 2.8em;
    letter-spacing: 0.8125rem;
    line-height: 3rem;
    margin-bottom: 1.25rem;
  }
  .content__txt {
    text-align: center;
    line-height: 1.5rem;
    margin-bottom: 2.3125rem;
    br {
      display: none;
    }
  }
  .form {
    width: 100%;
  }
  .form__input {
    width: 100%;
  }
  .form__btn {
    width: 4.6875rem;
  }
  .right__side {
    order: 0;
    background-image: url(./images/hero-mobile.jpg);
    height: 17.5625rem;
  }
}

.attribution {
  font-size: 0.8125rem;
  bottom: 0.9375rem;
  transform: translateX(-50%);
  left: 50%;
  text-align: center;
  position: absolute;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
